<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>anmorris.org</title>
    <link rel="stylesheet" href="https://use.typekit.net/nlf5yxx.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5/distr/fira_code.css">
  </head>
  <body>
    <!-- This is some sample text while I figure out the basic typography settings. -->
    <h1>Hello World!</h1>
    <h2>Hello World!</h2>
    <h3>Hello World!</h3>
    <h4>Hello World!</h4>
    <h5>Hello World!</h5>
    <h6>Hello World!</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique exercitationem incidunt tempora illum, qui magni iste, ipsam nulla, iure a alias aliquid architecto? Culpa corporis necessitatibus ipsam rerum, adipisci excepturi.</p>
    <p><em>Cumque iste, eligendi, quibusdam eaque enim fugiat beatae perspiciatis labore dolorum laudantium quas repellendus ducimus temporibus accusantium tempore aliquid blanditiis expedita? Fugiat optio similique dignissimos accusantium provident, magni magnam quam?</em></p>
    <p><strong>Est saepe non at labore quas laboriosam iure ipsum et molestias ut! Odio officiis, itaque autem corrupti labore ratione omnis est totam fugiat culpa vero, expedita iure earum assumenda ullam.</strong></p>
    <p>Dolores ipsum, distinctio veritatis dignissimos quia veniam autem sunt ut debitis voluptate officia itaque temporibus excepturi modi est quam animi repellat earum harum vel fuga rem sequi. Harum, corrupti architecto?</p>
    <p>Quo molestias rem nam assumenda cum doloremque, quam nihil nostrum eius recusandae voluptas? Quidem quam at dignissimos repudiandae aliquid numquam quos blanditiis, totam nesciunt, illum aut dolorem consectetur vel quisquam!</p>
    <style>
      @import url("main.css");
    </style>
  </body>
</html>
